html{
    background-image: url('../assets/background-anonymous.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #6f6f6f;
}
body {
    font-family: 'Open Sans';
    overflow:hidden;
}
